/* ==================Commons============ */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  width: 150px;
  height: 42px;
  background-color: #1f4b43;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}
